body {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
#item {
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}
.paginator > li {
  text-align: center;
  width: 20px;
  height: 20px;
  list-style: none;
  border: 1px solid purple;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
}
.paginator {
  display: flex;
  max-width: 700px;
  max-height: 50px;
  overflow: scroll;
  flex-wrap: wrap;
  line-height: 150%;
  position: relative;
}

.mr-3 {
  margin-right: 3px;
}
.item > li > a {
  color: black;
  text-decoration: none;
}
.item > li > a:active,
.item > li > a:hover,
.item > li > a:visited {
  color: purple;
  font-weight: bold;
}
.hidden {
  display: none;
}
.pagination {
  /* max-width: 50vw; */
  padding: 0 10px;
}
#pages {
  display: flex;
}
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card {
  width: 18rem;
  position: relative;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top {
  object-fit: cover;
  height: 135px;
}

